.main {
  margin: 0 auto;
}

.about__content {
  max-width: 1000px;
  margin: 0 auto;
  background-color: transparent;
  padding: 60px 64px;
  backdrop-filter: blur(15px) saturate(150%) contrast(100%);
  box-shadow: inset;
  border: 1px solid var(--color-secondary-bg);
}

.about__title {
  font-weight: 500;
  font-size: 100px;
  line-height: 150px;
  color: var(--color-gray2);
  margin: 0;
}

.about__text {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-gray3);
  text-align: justify;
  padding: 2px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--color-gray2);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__arrow {
  font-size: 16px;
  color: var(--color-gray2);
  height: 80%;
  vertical-align: baseline;
  font-weight: 900;
  margin: 0;
  padding: auto 0;
}

.about__image {
  max-width: 40%;
}

.about__button:hover .about__arrow{
  color: var(--color-primary-txt);
}

.about__button:hover {
  border: 2px solid var(--color-primary-txt); 
}
