* {
	transition: all 0.2s linear;
}

body {
	margin: 0;
	color: var(--color-primary-txt);
	background-color: var(--color-primary-bg);
	font-family: var(--font-family);
	background-image: url(/src/assets/background.png);
  background-repeat: no-repeat;
  background-position: top center;
	min-height: 100vh;
}

:root {
	--color-primary: #34C759;
	--color-primary-txt: #FFFFFF;
	--color-primary-bg: #080808;
	--color-secondary-bg: #252525;
	--color-secondary-txt: #85878C;
	--color-gray: #A4A8B2;
	--color-gray2: #303030;
	--color-gray3: #A6A6A6;
	--font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}