.main {
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  max-width: 1110px;
}

@media (max-width: 1174px) {
  .cards {
    max-width: 730px;
  }
  
} 